*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.masala{
    text-align: center;
    margin-left: 25%;
    margin-top: 28vh;
    background-color: rgb(228, 140, 26);
    width: 600px;
    border-radius: 25px;
}
@media (max-width:1000px) {
    .masala{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 25vh;
    }
    .yechimi{
        font-size: 50px;
    }
    .misol{
        font-size: 50px;
    }
    .Discremenant{
        font-size: 50px;
    }
    .x1{
        font-size: 50px;
    }
    .x2{
        font-size: 50px;
    }
}
@media (max-width:900px) {
    .masala{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 15vh;
    }
    .x1{
        font-size: 40px;
    }
    .x2{
        font-size: 40px;
    }
    .Discremenant{
        font-size: 40px;
    }
    .yechimi{
        font-size: 40px;
    }
    .misol{
        font-size: 40px;
    }
}
@media (max-width:800px) {
    .masala{
        width: 76%;
        margin-left: 12%;
        margin-right: 12%;
        margin-top: 10vh;
    }
    .x1{
        font-size: 35px;
    }
    .x2{
        font-size: 35px;
    }
    .Discremenant{
        font-size: 35px;
    }
    .yechimi{
        font-size: 35px;
    }
    .misol{
        font-size: 35px;
    }

    
}
@media (max-width:650px) {
    .masala{
        width: 84%;
        margin-left: 8%;
        margin-right: 8%;
        margin-top: 5vh;
    }
    .x1{
        font-size: 45px;
    }
    .x2{
        font-size: 45px;
    }
    .Discremenant{
        font-size: 45px;
    }
    .yechimi{
        font-size: 45px;
    }
    .misol{
        font-size: 45px;
    }

    
}
@media (max-width:550px) {
    .masala{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 3vh;
    }
    
}
@media (max-width:640px) {
    .masala{
        width: 73%;
        margin-left: 13.5%;
        margin-right: 13.5%;
        margin-top: 3vh;
    }

    .x1{
        font-size: 38px;
    }
    .x2{
        font-size: 38px;
    }
    .Discremenant{
        font-size: 38px;
    }
    .yechimi{
        font-size: 38px;
    }
    .misol{
        font-size: 38px;
    }

    
    
}
@media (max-width:577px) {
    .masala{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 3vh;
    }


    
    
}
@media (max-width:535px) {
    .masala{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 3vh;
    }

 
    
}
@media (max-width:497px) {
    .masala{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 3vh;
    }

    .x1{
        font-size: 33px;
    }
    .x2{
        font-size: 33px;
    }
    .Discremenant{
        font-size: 33px;
    }
    .yechimi{
        font-size: 33px;
    }
    .misol{
        font-size: 33px;
    }

    
}
@media (max-width:488px) {
    .masala{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 3vh;
    }

    .x1{
        font-size: 30px;
    }
    .x2{
        font-size: 30px;
    }
    .Discremenant{
        font-size: 30px;
    }
    .yechimi{
        font-size: 30px;
    }
    .misol{
        font-size: 30px;
    }
    .murojat a i{
        font-size: 25px;
    }

    
    
}


@media (max-width:472px) {
    .masala{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 3vh;
    }

    .x1{
        font-size: 28px;
    }
    .x2{
        font-size: 28px;
    }
    .Discremenant{
        font-size: 28px;
    }
    .yechimi{
        font-size: 28px;
    }
    .misol{
        font-size: 28px;
    }
    .murojat a i{
        font-size: 30px;
    }

    
    
}
@media (max-width:449px) {
    .masala{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 3vh;
    }

    .x1{
        font-size: 25px;
    }
    .x2{
        font-size: 25px;
    }
    .Discremenant{
        font-size: 25px;
    }
    .yechimi{
        font-size: 25px;
    }
    .misol{
        font-size: 25px;
    }

    
    
}
@media (max-width:383px) {
    .masala{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 3vh;
    }

    .x1{
        font-size: 18px;
    }
    .x2{
        font-size: 18px;
    }
    .Discremenant{
        font-size: 18px;
    }
    .yechimi{
        font-size: 18px;
    }
    .misol{
        font-size: 18px;
    }
    .murojat a i {
        font-size: 15px;
    }        
}
body{
    background-image: url('https://picsum.photos/1300');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}
b{
    font-size: 100px;
}
a{
    display: inline-block;
    color: rgb(18, 70, 240);
}
.bx{
    font-size: 20px;
    border: 3px solid rgb(18, 70, 240);
    border-radius: 50%;
    padding: 5px;
}
.murojat a{
    margin: 5px;
}
.murojat{
    margin-top: 20px;
}
.hr{
    height: 1px;
    border: 1px solid black;
    color: #000;
    background: #000;
}
